Requirements
============

Freeling
--------
| This project uses an external program, called Freeling, to process language : http://nlp.lsi.upc.edu/freeling/
| Check this page to install Freeling on your computer : https://talp-upc.gitbooks.io/freeling-4-1-user-manual/content/installation/apis-linux.html
| Notice that to use Python API, Freeling needs to be installed from source with the dedicated options as described in documentation. *(Not sure, this needs to be checked.)*
| The folder */usr/local/* is used as the default Freeling path, because it is the default Freeling installation folder on Linux systems. This path can be set at any moment using :func:`~loacore.conf.set_freeling_path()`, on Windows, Linux or MacOS.

Database
--------
SQlite
******

| The embedded database used to store results is an sqlite database, managed with the sqlite3 Python database API : https://docs.python.org/3/library/sqlite3.html
| The corresponding Python package should already be installed in your Python3 distribution.

Prebuild DB
***********
| *Incomplete section*
| Because the database is quite heavy, it is not included in the GitHub repository. Of course you could build it on your own, but because this process can be quite long prebuild databases can be found there *enter url* with following files:

- IMDB
- UCI

Machine Learning
----------------
| Machine learning modules are based on two Python libraries.
- | Gensim : https://radimrehurek.com/gensim/
  | Installation : https://radimrehurek.com/gensim/install.html
- | Scikit Learn : http://scikit-learn.org/stable/
  | Installation : http://scikit-learn.org/stable/install.html

Utils
-----
Package :mod:`utils` uses a few graphical modules to show results.

- PrettyTable : https://pypi.org/project/PrettyTable/
- Matplotlib : https://matplotlib.org/users/installing.html#linux
- | Tkinter : https://wiki.python.org/moin/TkInter
  | Module used to generate gui to save pdf for example.
  | Even if the package should be included in Python distribution, on Linux distributions you might need to install *tk* package through your package manager.
